#desktop {
  background: hsl(120, 20%, 60%);
  display: grid;
  grid-template-columns: repeat(auto-fit, 92px);
  grid-template-rows: repeat(auto-fit, 64px);
  grid-auto-flow: column;
  grid-gap: 1rem;
  padding: 0.5rem;
  overflow: hidden;
}