html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.template {
  display: none;
}

body {
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5rem 1fr 2rem;
}

#menu-bar {
  z-index: 1000;
}

#menu-bar {
  background: white;
  border-bottom: black solid 1px;
}

#desktop {
  background: hsl(120, 20%, 60%);
}

@import './window.scss';
@import './task-bar.scss';