:root {
  --atari-white: rgb(224, 224, 224);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.template {
  display: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  overflow: hidden;
  cursor: default;
}

.busy-bee {
  cursor: url('./bee.png'), auto !important;
}

button {
  background: none;
  border: none;
  line-height: 1;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  outline: none;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5rem auto 2rem;
  &.noscript {
    display: none;
  }
}
