.window {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), -1px -1px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  display: grid;
  border: 1px solid black;
  grid-template-columns: 1.5rem 1fr 1.5rem 1.5rem;
  grid-template-rows: 1.5rem 1fr 1.5rem;
  font-size: 12px;
  line-height: 10px;
  will-change: contents;

  > * {
    display: grid;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
  }

  &__content {
    grid-row: 2 / span 3;
    grid-column: 1 / span 4;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;

    &__iframe,
    &__cover,
    &__loading {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &__iframe {
      z-index: 1;
      width: 100%;
      height: 100%;
      border: none;
    }

    &__cover {
      z-index: 2;
      display: block;

      &.active {
        display: none;
      }
    }

    &__loading {
      z-index: 3;
      display: grid;
      justify-content: center;
      align-content: center;
      background: white;
    }
  }

  &__title {
    background: lightsteelblue;
    overflow: hidden;
    white-space: nowrap;
    color: steelblue;

    &.active {
      background: steelblue;
      color: black;
    }
  }

  &__button {
    background: var(--atari-white);
    text-align: center;

    svg {
      margin: auto;
    }

    &.size {
      background-color: var(--atari-white);
      opacity: 0.8;
      cursor: inherit;
      width: 100%;
      height: 100%;
      clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
      z-index: 4;
      grid-row: 3;
      grid-column: 4;

      &.disabled {
        display: none;
      }
    }
  }

  &.active {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3),
      -2px -2px 20px rgba(0, 0, 0, 0.3);
  }

  &.changing {
    border: 1px solid var(--atari-white);
    opacity: 0.9;

    &.move {
      cursor: move;
    }

    &.resize {
      cursor: nwse-resize;
    }
  }

  &.animate {
    transition: 0.3s all;
  }
}
